div {
  overflow: hidden;
}

#fichaCampo {
  border : 1px #000000 solid;
  background-color: lightyellow;
  margin : 0;
  float : left;
  width: calc(100% - 2px);
}

#fichaCampo .metadato {
  width:100%;
  min-height: 18px;
  margin:0;
  text-align: center;
  font-size: 12px;
  clear: both;
  border-bottom: 1px solid #000000;
}

#fichaCampo .metadato .mdlabel {
  width:10%;
  float: left;
  padding : 2px 0 2px 0;
}

#fichaCampo .metadato .mddata {
  width:15%;
  padding : 2px 0 2px 0;
  text-align: center;
  font-weight: bolder;
  float: left;
  background-color: lightgoldenrodyellow;
}

fieldset {
  margin: 0;
  padding: 0;
}

.bloqueHead {
  width:100%;
  clear:both;
  border-top: 1px solid black ;
  border-bottom: 1px solid black ;
  padding: 0 0 8px 0;
}

.bloque {
  clear:both;
  border: 0 ;
  top: 8px;
  overflow: hidden;
  min-height: 80px;
  padding: 0;
  width:100%;
}

.bloque .title {
  width: 100%;
  vertical-align: middle;
  font-weight: bolder;
  text-align: center;
  padding: 4px 0 4px 0;
  border: 0;
  border-bottom: 1px solid black;
  background-color:silver;
}

.bloqueHead .fieldcontain {
  float:left;
  margin: 4px 4px 0 4px;
}

.bloqueHead .fieldcontain .label {
  clear:both;
  text-align: left;
  color: dimgray;
  margin-top: 4px;
}
.bloque2 {
  width:33%;
  float:left;
  border: 1px solid #888888;
  margin: 8px 8px 8px 8px;
  padding-bottom: 8px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.bloque2 .title {
  width: 100%;
  vertical-align: middle;
  font-weight: bolder;
  text-align: center;
  padding: 2px 0 2px 0;
  border: 0;
  border-bottom: 1px solid #888888;
  background-color:#d9d9d9;
}

.bloque2 input, .bloque2 select, .bloque2 textarea {
  border: 1px solid #888888;
}

.bloque2 .fieldcontain .label {
  float:left;
  text-align: left;
  color: dimgray;
  margin-top: 4px;
  width:40%;
  margin-left: 8px;
}

.bloqueHead .fieldcontain input, .bloque2 .fieldcontain input {
  height: 16px;
}

.parte {
  margin:2px 0 2px 0 ;
  float:left;
  width:25%;
  background-color:#F2F2F2;
}

.options {
  right:2px;
  top:2px;
  position:absolute;
}

.option {
  background-color: #ffffff;
}
.options input {
  background-color: #FCFCFC;
  border: 1px solid #444444;
  font-size: 11px;
  padding: 0 4px 0 4px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
}
#coberturas2 {
  margin:0;
  min-height: 0;
  background-color: #ffff00;
  border-bottom: 1px solid #888888;
  display : none;
}
.fieldcontain2 {
  /*background-color: gold;*/
  position: relative;
  float:left;
  margin: 0 4px 0 0;
}

.fieldcontain2 input {
  height:17px;
  width:140px;
  color: black;
  border: 1px solid #888888 ;
}

.fieldcontain2 select {
  width:132px;
  color: black;
  border: 1px solid #888888 ;
}

.fieldcontain2 div.label {
  color:#696969;
}

.onecobertura {
  padding:0;
  border:0;
  background-color: transparent;
  position:relative
}

div.partbloque {
  margin:0;
  border-bottom:1px solid darkgray;
}

/*---- estos están precisos ----*/

div.opts {
  right:2px;
  top:1px;
  position:absolute;
  float:right;
}

div.opts input[type=button] {
  color:black;
  -moz-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
  border: 1px black solid;
  padding:0 4px 0 4px;
  height: 20px;
}

.ingrsandoHabitacional {
  background-color: palegoldenrod;
  border-bottom: 1px #696969 solid;
}

.ingresandoCobertura {
  background-color: palegoldenrod;
  border-bottom: 1px #696969 solid;
}
